.Logo{
    width: auto;
    height:200px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top:-10px;
    
}

.Logo img{
    position: absolute;
   left: 30%;
   margin-top: -60px;
}

.Logo2{
    margin-top: 140px;
   position: absolute;
   left: 25%;
   margin-bottom: 0px;
}

.Menu a{
    float:left;
    display: block;
    color:white;
    padding: 12px 14px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
 

}

.Menu{
    
    background-image: linear-gradient( to right, rgb(0, 0, 0)   ,rgb(28, 57, 61),  rgb(0, 0, 0)  );;
    display: flex;
   justify-content: center;
   border-width: 2px;
   border-color: rgb(240, 228, 158);
   margin-top:-10px;
   width: auto;
   margin-left: -10px;
   margin-right: -10px;
   position: relative;
   
   
   
}

.Menu a:hover {
    background-color: rgb(47, 48, 100);
    color: white;
}



.Rodape{
    padding: 10px;
    position: absolute;
    width: 98.8%;
    margin-left: -10px;
    margin-right: -10px;
    background-color: black;
    height: 100px;
    bottom: -80%;
    margin-bottom: -10px;

  
}

.Rodape p{
    color:white;
    text-align: center;
   
}

.Rodape img {
	position: relative;
	float: left;
	bottom: 0;
	
}




body{
    background-image: linear-gradient( to right, rgb(6, 62, 85)   ,rgb(7, 98, 110),  rgb(37, 122, 156)  );
}