<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="Disciplina.css" />
    <link rel="stylesheet" type="text/css" href="Padrao.css" />
    
    <title>FestSP</title>
</head>
<body>

        <div class="Logo">
                <div class="Logo2"> 
                        <img src="FESTSP2.png" height="230px" width="500px"> 
                </div>
                <img src="FESTSP.png" height="270px" width="500px">
            </div>
        
    <div class="Menu">
        
        <a href="index.html">Página Principal</a>
        <a href="LMS_ListaDeCursos.html">Lista de Cursos</a>
        <a href="LMS_Noticias.html">Notícias</a>
        <a href="LMS_Contato.html">Contato</a>
        <a href="LMS_Login.html">Login</a>
        
    </div>


    
      <div class="titulo"> <h1>Jogos Digitais</h1></div> 
        <div class="conteudo1">
           <strong>1º Semestre</strong><br>
           Arte 2D para Jogos Digitais: 80 horas<br>
           Desenho e Concept Art para Jogos: 80 horas<br>
           Design de Jogos I: 80 horas<br>
           Empreendedorismo: 40 horas<br>
           Introdução à programação para Jogos Digitais: 80 horas<br>
           Libras: 40 horas<br>
           Sociedade e Sustentabilidade: 40 horas<br>
           Subtotal: 440 horas<br>
        
        </div>
        <div class="conteudo2">
            <strong>2º Semestre</strong><br>
            Ambiente de Desenvolvimento de Jogos Digitais: 80 horas<br>
            Arte 3D para Jogos Digitais: 80 horas<br>
            Design de Jogos II: 80 horas<br>
            Game Level Design: 80 horas<br>
            Processo de Produção de Jogos Digitais (EAD): 80 horas<br>
            Programação para Jogos Digitais I: 80 horas<br>
            Subtotal: 480 horas<br>
        </div>
            <div class="conteudo3">
            <strong>3º Semestre</strong><br>
            Design de Personagens para jogos Digitais: 80 horas<br>
            Interfaces para Jogos Digitais (EAD): 80 horas<br>
            Jogos Digitais para Web: 80 horas<br>
            OPE1 - Oficina de Projeto Empresa 1: 80 horas<br>
            Programação para Jogos Digitais II: 80 horas<br>
            Roteirização e Storyboard para Jogos Digitais: 80 horas<br>
            Subtotal: 480 horas<br>
        </div>
            <div class="conteudo4">
            <strong>4º Semestre</strong><br>
            Animação, Áudio e Vídeo para Jogos Digitais: 80 horas<br>
            Estudos Complementares em Jogos Digitais: 80 horas<br>
            Jogos Digitais para Dispositivos Móveis: 80 horas<br>
            Marketing para Jogos Digitais (EAD): 80 horas<br>
            OPE 2 - Oficina Projeto de Empesa 2 : 80 horas<br>
            Qualidade e Testes para Jogos Digitais: 80 horas<br>
            Subtotal: 480 horas<br>
        </div>
        
   


    <div class="Tudo">

            <div class="Rodape">
                    <img class="logo_c1" src="cb_logo1.png"  >
                    <p>Endereço: Av. Ibirapuera n°2000 - Moema - São Paulo</p>
                    <p>Telefone: (11) 2030-0612 | Telefone Secretária: (11) 2030-1212</p>
                    <p>Cnpj: 71.772.603/0001-50</p>
                    
                    
                    
                </div>
    </div>

</body>
</html>