<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/Disciplina.css" />
    <link rel="stylesheet" type="text/css" href="../static/Padrao.css" />
    
    <title>FestSP</title>
</head>
<body>

        <div class="Logo">
                <div class="Logo2"> 
                        <img src="../static/FESTSP2.png" height="230px" width="500px"> 
                </div>
                <img src="../static/FESTSP.png" height="270px" width="500px">
            </div>
        
    <div class="Menu">
        
        <a href="/">Página Principal</a>
        <a href="/ListaCursos">Lista de Cursos</a>
        <a href="/Noticias">Notícias</a>
        <a href="/Contato">Contato</a>
        <a href="/Login">Login</a>
        
    </div>


    
      <div class="titulo"> <h1>Banco de Dados</h1></div> 
        <div class="conteudo1">
           <strong>1º Semestre</strong><br>
            Comunicação e Expressão (EAD): 80 horas<br>
            Fundamentos de Banco de Dados: 80 horas<br>
            Introdução a Internet das Coisas - IOT: 80 horas<br>
            Linguaguem de Programação I: 80 horas<br>
            Lógica de Programação: 80 horas<br>
            Matemática Aplicada: 80 horas<br>
            Subtotal: 480 horas<br>
        </div>
        <div class="conteudo2">
            <strong>2º Semestre</strong><br>
            Ambiente de Desenvolvimento e Operação -DevOps: 80 horas<br>
            Análise Exploratória de Dados: 80 horas<br>
            Desenvolvimento de Sistemas: 80 horas<br>
            Engenharia de Software: 80 horas<br>
            Gestão de Projetos: 40 horas<br>
            Libras: 40 horas<br>
            Linguagem SQL: 80 horas<br>
            Sociedade e Sustentabilidade: 40 horas<br>
            Subtotal: 520 horas<br>
        </div>
            <div class="conteudo3">
            <strong>3º Semestre</strong><br>
            Business Intelligence: 80 horas<br>
            Data Analytics: 80 horas<br>
            Developing Database: 80 horas<br>
            Estrutura de Dados: 80 horas<br>
            Legislação e Ética: 40 horas<br>
            OPE1 - Oficina de Projeto Empresa 1: 80 horas<br>
            Subtotal: 440 horas<br>
            <div class="conteudo4">
            <strong>4º Semestre</strong><br>
            Administração de Banco de Dados: 80 horas<br>
            Big Data: 80 horas<br>
            Computação Cognitiva: 80 horas<br>
            OPE 2 - Oficina Projeto de Empesa 2 : 80 horas<br>
            Qualidade e Governança de Dados: 80 horas<br>
            Segurança de Banco de Dados: 80 horas<br>
            Subtotal: 480 horas<br>
        </div>
        
   


    <div class="Tudo">

            <div class="Rodape">
                    <img class="logo_c1" src="../static/cb_logo1.png"  >
                    <p>Endereço: Av. Ibirapuera n°2000 - Moema - São Paulo</p>
                    <p>Telefone: (11) 2030-0612 | Telefone Secretária: (11) 2030-1212</p>
                    <p>Cnpj: 71.772.603/0001-50</p>
                    
                    
                    
                </div>
    </div>

</body>
</html>