<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/DetalheDoCurso6.css" />
    <link rel="stylesheet" type="text/css" href="../static/Padrao.css" />
    <title>Detalhe do curso</title>
</head>
<body>

        <div class="Logo">
                <div class="Logo2"> 
                        <img src="../static/FESTSP2.png" height="230px" width="500px"> 
                </div>
                <img src="../static/FESTSP.png" height="270px" width="500px">
            </div>
        

     <div class="Menu">
     
            <a href="/">Página Principal</a>
            <a href="/ListaCursos">Lista de Cursos</a>
            <a href="/Noticias">Notícias</a>
            <a href="/Contato">Contato</a>
            <a href="/Login">Login</a>
    </div>
    
    <div class="Horarios">
            
            <h2>Período:</h2>
            <p>Matutino | 08h00 às 11h40 |</p>
            <p>Noturno  | 19h00 às 22h40 |</p> 
            <div class="botao">
                    <button> <a href="Disciplina6.html">clique aqui para ver as diciplinas do curso</a></button>
                   </div>
        </div>

    <div class="Graduação">
           <h1>Redes de Computadores</h1>
            <h2>SOBRE O CURSO</h2>
           <p>
    
            Com o advento da Indústria 4.0 e da Internet das Coisas, os sistemas de computação são, 
            cada vez mais, dependentes de infraestrutura de redes de comunição, e demandam das mesmas 
            maior desempenho, confiabilidade e segurança.
            </p>
            
            <p>
            Neste contexto, as empresas dos mais variados setores da economia possuem dependência das 
            redes de computadores no mesmo nível que de energia elétrica. Serviços do dia a dia, 
            essenciais para sociedade, dependem de diferentes tipos de redes, como Wi-Fi, intranet, 
            dispositivos móveis conectados, entre outros.
            </p>
            
            <p>
            O profissional formado pelo curso Superior em Tecnologia em Redes de Computadores estará 
            preparado para atuar neste contexto, analisando, projetando, implementando e administrando 
            soluções para garantir o funcionamento e meio de infraestrutura de tecnologia da informação 
            para diversas aplicações, desde vídeos on demand até aplicações financeiras.
            </p>
           
           <p>
            O aluno dominará ferramentas e tecnologias voltadas para controles de tráfego, cyber security, 
            dimensionamento da capacidade computacional e implementação de ambientes de execução de 
            aplicações em nuvem, políticas de segurança de informação, conectividade e implementação de 
            redes locais e de longa distância.
            </p>
           
            <p>
            O aluno terá ainda uma visão abrangente da área, com a possibilidade de desenvolver projetos, 
            realizar atividades em laboratório e se preparar para certificações da Cisco, que possuem peso e 
            reconhecimento internacional.
            </p>

            <div class="Parceria Cisco">
                <h1>Parceria Cisco</h1>
                 
                
                <p>
                Além de tudo o que o curso oferece, o aluno poderá desfrutar dos benefícios da importante 
                parceria que a Faculdade Impacta firmou com a CISCO Networking Academy.</p>

                <p>
                A parceria prevê conteúdo gratuito em plataforma digital dos produtos CISCO 
                para alunos da FESTSP.         
                </p>  

                <p>
                Estão inclusos material didático, ementas, planos de aula, acesso gratuito a 
                plataforma de ensino LMS, ferramentas de simulação, atualização periódica de 
                conteúdos e vouchers de desconto em certificações.
                </p>


                <p>
                Essas certificações têm peso importante no mercado de trabalho e 
                são consideradas um grande diferencial.
                </p>

                <p>
                Além disso, o aluno poderá se preparar para algumas certificações da CISCO 
                enquanto estuda para o curso de Redes de Computadores.
                </p>
            
            
            </div>
            </div>
           <div class="Rodape">
                <img class="logo_c1" src="../static/cb_logo1.png"  >
                <p>Endereço: Av. Ibirapuera n°2000 - Moema - São Paulo</p>
                <p>Telefone: (11) 2030-0612 | Telefone Secretária: (11) 2030-1212</p>
                <p>Cnpj: 71.772.603/0001-50</p>
                
                
                
            </div>
</body>
</html>