<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="DetalheDoCurso1.css" />
    <link rel="stylesheet" type="text/css" href="Padrao.css" />
    <title>Detalhe do curso</title>
</head>
<body>
        <div class="Logo">
                <div class="Logo2"> 
                        <img src="FESTSP2.png" height="230px" width="500px"> 
                </div>
                <img src="FESTSP.png" height="270px" width="500px">
            </div>
        

     <div class="Menu">
            <a href="index.html">Página Principal</a>
            <a href="LMS_ListaDeCursos.html">Lista de Cursos</a>
            <a href="LMS_Noticias.html">Notícias</a>
            <a href="LMS_Contato.html">Contato</a>
            <a href="LMS_Login.html">Login</a>
    </div>
    
    <div class="Horarios">
            <h2>Período:</h2>
            <p>Matutino | 08h00 às 11h40 |</p>
            <p>Noturno  | 19h00 às 22h40 |</p> 
            <div class="botao">
                    <button> <a href="Disciplina1.html">clique aqui para ver as diciplinas do curso</a></button>
                   </div>
        
        </div>

    <div class="Graduação">
           <h1>Análise e desenvolvimento de sistemas</h1>
            <h2>SOBRE O CURSO</h2>
           <p>
    
                O curso de Análise e 
                Desenvolvimento de 
                Sistemas da Faculdade 
                Impacta foi reconhecido 
                pelo ENADE/MEC como um dos 
                melhores da cidade de São Paulo.
            </p>
            
            <p>
                Com a transformação digital 
                e a área de tecnologia sempre 
                em alta, o curso forma um profissional 
                que possa se envolver em todas 
                as etapas do projeto de sistemas 
                de software, desde concepção, análise, projeto, 
                teste, gestão, implantação 
                e manutenção de sistemas de informação.
            </p>
            
            <p>
                Atualmente, as carreiras mais demandadas pelo mercado de 
                trabalho são para desenvolvedor web, mobile e a Internet das 
                 Coisas (IoT), além de profissionais com conhecimento em DevOps 
                (Ambiente de Operação e Desenvolvimento).
            </p>
           
           <p>
                O profissional de DevOps precisa ter habilidades para fundir desenvolvimento 
                e implantação de aplicativos em um processo automatizado, de entrega contínua, 
                em que as responsabilidades são compartilhadas entre equipe de operação e equipe 
                de desenvolvimento, facilitando o desenvolvimento, integração, entrega, processos 
                de monitoramento contínuos de software e a gestão da infraestrutura de TI. 
            </p>
           
            <p>
                Para o trabalho do profissional de desenvolvimento web, mobile e IOT, 
                aprende-se a programar em linguagens de programação ou marcação, tais como: 
                HTML, CSS, Javascript e Python, assim como frameworks relacionados e banco de dados 
                com SQL, para criação de aplicativos para sites, aplicativos móveis e IoT.
            </p>

            <p>
                Os desenvolvedores precisam ainda entender os requisitos de negócio do cliente e 
                fornecer recomendações para melhorar os aplicativos ou sistemas de software, a fim 
                de garantir que atendam às necessidades dos usuários ou clientes.
            </p>

            <p>
                Esses diferenciais na formação de habilidades e competências do nosso curso permitem 
                aos alunos trabalharem em empresas das mais variadas áreas de aplicações, ocupando 
                carreiras como de analista de sistemas, analista de requisitos, analista de negócio, 
                desenvolvedor web, mobile ou IoT e DevOps, analista de teste e gerente de projeto. 
            </p>
    </div>

 
            
           <div class="Rodape">
            <img class="logo_c1" src="cb_logo1.png"  >
            <p>Endereço: Av. Ibirapuera n°2000 - Moema - São Paulo</p>
            <p>Telefone: (11) 2030-0612 | Telefone Secretária: (11) 2030-1212</p>
            <p>Cnpj: 71.772.603/0001-50</p>
            
            
            
        </div>

</body>
</html>