<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/ListaDeCursos.css" />
    <link rel="stylesheet" type="text/css" href="../static/Padrao.css" />
    <title>Lista de Cursos</title>
</head>
<body>
    <div class="Logo">
        <div class="Logo2"> 
                <img src="../static/FESTSP2.png" height="230px" width="500px"> 
        </div>
        <img src="../static/FESTSP.png" height="270px" width="500px">
    </div>


    <div class="Menu">
    
            <a href="/">Página Principal</a>
            <a href="/ListaCursos">Lista de Cursos</a>
            <a href="/Noticias">Notícias</a>
            <a href="/Contato">Contato</a>
            <a href="/Login">Login</a>
    </div>

    <div class="Tudo">

    <div class="ADS">
        <h2> Ánalise e Desenvolvimento de Sistemas</h2>
        <p>Iot, DevOps e Mobile </p>
        <button><a href="/Curso1">Mais detalhes +</a></button>
    </div>

    <div class="BD">
        <h2> Banco de Dados</h2>
        <p>Data Analytics e BigData </p>
        <button><a href="/Curso2">Mais Detalhes +</a></button>
    </div>

    <div class="JD">
        <h2> Jogos Digitais</h2>
        <p>Design de Games e Game Programming</p>
        <button><a href="/Curso3">Mais Detalhes +</a></button>
    </div>

    <div class="GTI">
        <h2> Gestão da Técnologia da Informação</h2>
        <p>ERP e Gestão de Qualidade </p>
        <button><a href="/Curso4">Mais Detalhes +</a></button>
    </div>

    <div class="SI">
        <h2> Sistemas da Informação </h2>
        <p>Business Agility e Computação Cognitiva </p>
        <button><a href="/Curso5">Mais Detalhes +</a></button>
    </div>

    <div class="RD">
            <h2> Redes de Computadores </h2>
            <p>Cloud Computing e Cyber Security </p>
            <button><a href="/Curso6">Mais Detalhes +</a></button>
        </div>
    </div>
    

    <div class="Rodape">
		<img class="logo_c1" src="../static/cb_logo1.png"  >
        <p>Endereço: Av. Ibirapuera n°2000 - Moema - São Paulo</p>
        <p>Telefone: (11) 2030-0612 | Telefone Secretária: (11) 2030-1212</p>
        <p>Cnpj: 71.772.603/0001-50</p>
		
		
		
    </div>
</body>
</html>