<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="DetalheDoCurso4.css" />
    <link rel="stylesheet" type="text/css" href="Padrao.css" />
    <title>Detalhe do curso</title>
</head>
<body>

        <div class="Logo">
                <div class="Logo2"> 
                        <img src="FESTSP2.png" height="230px" width="500px"> 
                </div>
                <img src="FESTSP.png" height="270px" width="500px">
            </div>
        
     <div class="Menu">
            <a href="index.html">Página Principal</a>
            <a href="LMS_ListaDeCursos.html">Lista de Cursos</a>
            <a href="LMS_Noticias.html">Notícias</a>
            <a href="LMS_Contato.html">Contato</a>
            <a href="LMS_Login.html">Login</a>
    </div>
    
    <div class="Horarios">
            <div class="botao">
                    <button> <a href="Disciplina4.html">clique aqui para ver as diciplinas do curso</a></button>
                   </div>
        
            <h2>Período:</h2>
            <p>Noturno  | 19h00 às 22h40 |</p> 
        
        </div>

    <div class="Graduação">
           <h1>Gestão da Tecnologia da Informação</h1>
            <h2>SOBRE O CURSO</h2>
           <p>
    
                As tecnologias estão em toda parte. Órgãos públicos, privados e não governamentais 
                precisam das Tecnologias de Informação. Assim, a aquisição, manutenção e evolução 
                dessas tecnologias dependem não só de profissionais técnicos, mas de profissionais 
                que consigam combinar diversos talentos pertencentes a diversas áreas.
            </p>
            
            <p>
                Dentro desta realidade, os profissionais formados em Gestão da TI terão as seguintes 
                competências:
            </p>
            
            <p>
                • Agregar valor aos negócios, atuando como elemento catalizador para a integração do 
                negócio e TI.
            </p>
           
           <p>
                • Manter a TI como recurso eficaz e eficiente para atender as necessidades e objetivos 
                das organizações.
            </p>
           
            <p>
                • Valorizar e defender o emprego de padrões e processos na área de TI, assim como o Agile 
                Mindset dos profissionais que atuam nessa área.

 
            </p>

    </div>  
            
    <div class="Rodape">
            <img class="logo_c1" src="cb_logo1.png"  >
            <p>Endereço: Av. Ibirapuera n°2000 - Moema - São Paulo</p>
            <p>Telefone: (11) 2030-0612 | Telefone Secretária: (11) 2030-1212</p>
            <p>Cnpj: 71.772.603/0001-50</p>
            
            
            
        </div>

</body>
</html>