<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/DetalheDoCurso5.css" />
    <link rel="stylesheet" type="text/css" href="../static/Padrao.css" />
    <title>Detalhe do curso</title>
</head>
<body>
        <div class="Logo">
                <div class="Logo2"> 
                        <img src="../static/FESTSP2.png" height="230px" width="500px"> 
                </div>
                <img src="../static/FESTSP.png" height="270px" width="500px">
            </div>
        
     <div class="Menu">
     
            <a href="/">Página Principal</a>
            <a href="/ListaCursos">Lista de Cursos</a>
            <a href="/Noticias">Notícias</a>
            <a href="/Contato">Contato</a>
            <a href="/Login">Login</a>
    </div>
    
    <div class="Horarios">
            <div class="botao">
                    <button> <a href="Disciplina5.html">clique aqui para ver as diciplinas do curso</a></button>
                   </div>
        
            <h2>Período:</h2>
            <p>Matutino | 08h00 às 11h40 |</p>
            <p>Noturno  | 19h00 às 22h40 |</p> 
        
        </div>

    <div class="Graduação">
           <h1>Sistemas de Informação</h1>
            <h2>SOBRE O CURSO</h2>
           <p>
    
                A graduação de Sistemas de Informação visa formar empreendedores, profissionais e 
                pesquisadores focados na construção, manutenção e evolução dos sistemas 
                computacionais de apoio às organizações.
            </p>
            
            <p>
                O perfil empreendedor é alcançado a partir da criação de startups e produtos inovadores 
                durante os quatro semestres finais do curso.
            </p>
            
            <p>
               Já o perfil profissional é alcançado a partir da capacidade de entender e analisar problemas 
               reais e desenvolver soluções pragmáticas com o uso de tecnologias de melhor custo-benefício.
            </p>
           
           <p>
                O constante envolvimento do aluno na solução de problemas impulsiona o perfil investigativo, 
                não apenas como um pesquisador intuitivo, mas, sobretudo, como conhecedor de processos e 
                métodos para a realização de pesquisas científicas. 
            </p>
           
            <p>
                O grande diferencial deste curso está na estrutura curricular: nos quatro primeiros semestres 
                o aluno aprende a “saber fazer”, ou seja, o aluno aprende a analisar problemas e criar soluções 
                com o uso das tecnologias da informação. Isso permite que ele receba no meio da graduação o 
                diploma de Análise e Desenvolvimento de Sistemas.
            </p>

            <p>
                Nos quatro semestres finais, o aluno aprende a “inovar”, ou seja, aprende a utilizar a sua 
                capacidade de “saber fazer” para construir produtos ou serviços evolucionários, revolucionários, 
                ou até, disruptivos dentro de suas próprias startups.
            </p>

    </div>
            
            <div class="Rodape">
                    <img class="logo_c1" src="cb_logo1.png"  >
                    <p>Endereço: Av. Ibirapuera n°2000 - Moema - São Paulo</p>
                    <p>Telefone: (11) 2030-0612 | Telefone Secretária: (11) 2030-1212</p>
                    <p>Cnpj: 71.772.603/0001-50</p>
                    
                    
                    
                </div>
        
        
</body>
</html>