<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="DetalheDoCurso3.css" />
    <link rel="stylesheet" type="text/css" href="Padrao.css" />
    <title>Detalhe do curso</title>
</head>
<body>
    <div class="Logo">
        <div class="Logo2"> 
                <img src="FESTSP2.png" height="230px" width="500px"> 
        </div>
        <img src="FESTSP.png" height="270px" width="500px">
    </div>


     <div class="Menu">
            <a href="index.html">Página Principal</a>
            <a href="LMS_ListaDeCursos.html">Lista de Cursos</a>
            <a href="LMS_Noticias.html">Notícias</a>
            <a href="LMS_Contato.html">Contato</a>
            <a href="LMS_Login.html">Login</a>
    </div>
    
    <div class="Horarios">
        <div class=botao>
            <button> <a href="Disciplina3.html">clique aqui para ver as diciplinas do curso</a></button>
           </div>

            <h2>Período:</h2>
            <p>Matutino | 08h00 às 11h40 |</p>
            <p>Noturno  | 19h00 às 22h40 |</p> 
        
        </div>

    <div class="Graduação">
           <h1>Jogos Digitais</h1>
            <h2>SOBRE O CURSO</h2>
           
           <p>
              A graduação em Jogos Digitais aborda as ferramentas práticas e teóricas para o aluno 
              projetar, implementar e testar jogos. Com a criação de personagens, ambientes, objetos, 
              interfaces e regras, é possível aprender sobre tudo o que é necessário para criar um jogo. 
              Além disso, o profissional também pode aplicar técnicas de programação, áudio e elementos 
              em 2D e 3D.
            </p>
            
            <p>
              Com conhecimento interdisciplinar, o aluno terá contato com todas as fases do projeto, 
              desde o design, arte visual, áudio e programação até a gestão de projetos e negócios.
            </p>
            
            <p>
              O aluno ainda estará preparado para desenvolver games de diversos gêneros, para diversas 
              plataformas e áreas. Vários setores como educação, saúde, marketing e até treinamento têm 
              cada vez mais utilizado os chamados "serious games" em suas atividades, o que abre um grande 
              leque de opções para a profissão.
            </p>
           
           <p>
                Existe também a possibilidade de atuar como desenvolvedor independente (indie) de forma 
                autônoma ou mesmo criar seu negócio próprio.
           
            <p>
                O curso tem vários diferenciais que são essenciais para uma carreira de sucesso, 
                como a formação abrangente, que traz uma visão geral e aplicada sobre várias áreas do 
                desenvolvimento de jogos digitais, e a duração de dois anos, que permite ao aluno preparar-se 
                mais rapidamente para o mercado de trabalho.
            </p>

            
            
           <div class="Rodape">
              <img class="logo_c1" src="cb_logo1.png"  >
              <p>Endereço: Av. Ibirapuera n°2000 - Moema - São Paulo</p>
              <p>Telefone: (11) 2030-0612 | Telefone Secretária: (11) 2030-1212</p>
              <p>Cnpj: 71.772.603/0001-50</p>
              
              
              
          </div>
  
</body>
</html>
